$color: #919191;

.headerPage{
    height: 90px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    .LogoBrand{
    height: 60px;
    width: auto;
    }
    h1{
        color: $color;
        font-size: 20px;
    }
}
